body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: $color-grey;
	padding: 20px;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 60px;
	// animation: text-header 2s linear 200ms infinite;
	&__main {
		display: block;
		font-size: 62px;
		font-weight: 400;
		letter-spacing: 15px;
		animation: moveInLeft 1s ease;
		@include respond(phone) {
			letter-spacing: 1rem;
			font-size: 5rem;
		}
	}
	&__sub {
		display: block;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 18px;
		animation: moveInRight 1s ease;
		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	letter-spacing: 2rem;
	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	color: transparent;
	-webkit-background-clip: text;
	transition: all 0.2s;
	&:hover {
		transform: skewY(5deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: 1.6rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
