$color-primary: #8E9EFC;
$color-primary-light: #5A73FC;
$color-primary-dark: #1C3EFF;
$color-secondary-light: #FFB900;
$color-secondary-dark: #FF7730;
$color-tertiary-light: #55C57A;
$color-tertiary-dark: #28B485;
$color-grey-light: #F7F7F7;
$color-grey: #777777;
$color-white: #FFFFFF;
$color-black: #000000;
$color-orange: orangered;
$color-yellow: rgb(248, 237, 83);
$color-blue: rgb(45, 85, 138);
$box-shadow-block:  0 1.5rem 4rem rgba($color-black, .15);
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;